* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    max-width: 1024px;
    margin: auto;
    margin-top: 2%;
    padding-left: 2em;
}

.Name {
    font-family: monospace;
    font-variant: small-caps;
    width: 100%;
    margin: auto;
    
}

.menu {
    width: 100%;
    margin: auto;
}
.menu > button {
    min-width: 5em;
    min-height: 2em;
    border: none;
    border-radius: 0.4em;
}
.menu > button:first-child {
    background-color: darkgreen;
    color: white;
}
.menu > button:first-child:hover {
    cursor: pointer;
    border: 1px solid greenyellow;
}
.menu > button:last-child {
    background-color: maroon;
    color: white;
}
.menu > button:last-child:hover {
    cursor: pointer;
    border: 1px solid red;
}

.content {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 2em;
    height: 40em;
    overflow: hidden;
}

.newtask {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: inherit;
    background-color: white;
    z-index: -1;
}

.newtask > input,textarea {
    font-size: 1em;
    min-width: 10rem;
    max-width: 20rem;
    padding: 0.5em 1em;
    margin-top: 1em;
    border: 1px solid lightgrey;
    border-radius: 0.5em;
    background-color: whitesmoke;
}
.newtask > input:focus,textarea:focus {
    outline: none;
    border: 1px solid green;
    
}
.newtask > input[type = "submit"] {
    background-color: darkgreen;
    color: white;
    border: none;
}
.tasks {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: inherit;
    height: inherit;
    margin: auto;
    background-color: white;
}
.tasks > h1 {
    font-size: 1.5em;
    font-variant: small-caps;
    letter-spacing: 0.2rem;
    text-decoration: underline;
}

.newtask > span {
    font-size: 0.7em;
    color: red;
    font-family: monospace;
    letter-spacing: 0.1rem;
    margin-left: 1rem;
}

.t {
    display: flex;
    flex-direction: column;
    background-color: green;
    color: white;
    padding: 0.6rem 1.25rem;
    min-height: auto;
    max-height: 4rem;
    width: 15rem;
    min-width: auto;
    max-width: 20rem;
    font-family: "Roboto Slab", serif;
    border-radius: 0.8rem;
    overflow: hidden;
    transition: all 1s ease-in-out 0s;
    margin-bottom: 1rem;
}
.t:hover {
   cursor: pointer;
}

.t > h1 {
    font-weight: bolder;
    /* text-decoration: underline; */
    font-family: monospace;
    font-size: 1.5em;
    letter-spacing: 0.2em;
}
.t > .deadline, .update {
    font-family: monospace;
    font-size: 0.6em;
}
.t > .desc {
    margin-top: 0.5em;
    font-family: monospace;
    font-size: 0.8em;
    z-index: -1;
}

